extends layout

block content
  div.fflex
    div.first
      if user
        if user.member
          div.blue
            a.an(href="/message") Create new 
            img.svg(src="/images/plus-thick.svg", alt="")
    if user 
      div.mid
        h1 Welcome #{user.first_name} #{user.last_name} 
  if messages 
    ul.inn
      each message in messages 
        div.index
          if user
            if user.member
              li.bold #{message.author.first_name} #{message.author.last_name}
                if user.admin 
                  a.del(href=message.url+"/delete") del
          li.max #{message.content} 
          if user 
            if user.member
              li.right #{message.time.toLocaleString()}
